/* Switch Theme Button */

/* Themes */
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #fff;
    --bg-color: #2ab1eb;
    --heading-color: #292922;
  }
  
  [data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #4d7376;
    --heading-color: #818cab;
  }

/* Switch */
.theme-switch {
    display: inline-block;
    height: 34px;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }