.App{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: medium;
}

/* Navbar */

.nav-conf{
  list-style-type: none;
  margin-left: 80% !important;
}


/* Content */

.page-content{
  position: absolute;
  top: 80px;
}

.title{
  font-weight: 300;
  padding-top: 15px;
}

.subtitle{
  font-weight: bold;
}


/* Logo */

.logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


/* Group of Buttons */

.group-buttons{
  display: inline-flex;
  flex-direction: row;
  padding-top: 5px;
}


/* Social links */

.social-buttons{
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
  margin-right: 10px;
}

.social-buttons:hover{
  background-color: transparent !important;
}

.social-buttons:focus{
  background-color: transparent !important;
}

.fb-button{
  background-image: url("/src/assets/facebook.png") !important;
  background-size: cover !important;
  background-position: center !important;
}

.tw-button{
  background-image: url("/src/assets/twitter.png") !important;
  background-size: cover !important;
  background-position: center !important;
}

.inst-button{
  background-image: url("/src/assets/instagram.png") !important;
  background-size: cover !important;
  background-position: center !important;
}

.em-button{
  background-image: url("/src/assets/o-email.png") !important;
  background-size: cover !important;
  background-position: center !important;
}

.gh-button{
  background-image: url("/src/assets/github.png") !important;
  background-size: cover !important;
  background-position: center !important;
}


/* Website Button */

.web-button{
  background-color: var(--primary-color);
  color: white;
  width: 80%;
  line-height: 40px;
  height: 54px;
  margin-top: 1rem;
  border: 0;
}

.web-button:hover{
  background-color: var(--primary-color) !important;
}

.web-button:focus{
  background-color: var(--primary-color) !important;
}


/* Founders */

.founders-topic{
  padding-top: 45px;
  font-size: 17px;
  font-weight: 300;
}

.founders-buttons{
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  border: 0;
  margin-right: 25px;
  margin-left: 20px;
}

.founders-buttons:hover{
  background-color: transparent !important;
}

.founders-buttons:focus{
  background-color: transparent !important;
}

.renan-button{
  background-image: url("/src/assets/renan.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
}

.rodolfo-button{
  background-image: url("/src/assets/rodolfo.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
}